@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  scrollbar-color: #c0c0c0 white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative
}

:root{
  --neutral: #fff;
  --default: #1f1f1f;
  --default-inverse: #ccc;
  --secondary: #3b3b3b;
  --secondary-inverse: #c7c7c7;
  --tertiary: #575757;
  --tertiary-inverse: #bebebe;

  --primary-500: #3F4637;
  --primary-400: #5F6854;
  --primary-300: #808A73;
  --primary-200: #A1AC94;
  --primary-100: #C4CEB7;
  --primary-50: #E7F0DC;

  --secondary-500: #1A5319;
  --secondary-400: #388636;
  --secondary-300: #60B95F;
  --secondary-200: #93EC92;
  --secondary-100: #CAFFC9;
  --secondary-50: #F5FFF5;

  --tertiary-500: #314528;
  --tertiary-400: #506E44;
  --tertiary-300: #729762;
  --tertiary-200: #96C083;
  --tertiary-100: #BBE9A7;
  --tertiary-50: #F2F7F0;
}